<%# 좌석선택 %>


    <!DOCTYPE html>
    <html>

    <head>
        <title>좌석 예매</title>
        <!-- for-mobile-apps -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords"
            content="Movie Ticket Booking Widget Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
        <!-- //for-mobile-apps -->
        <link href='//fonts.googleapis.com/css?family=Kotta+One' rel='stylesheet' type='text/css'>
        <link
            href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
            rel='stylesheet' type='text/css'>
        <link href="/css/seatstyle.css" rel="stylesheet" type="text/css" media="all" />
        <script src="/js/jquery-1.11.0.min.js"></script>
        <script src="/js/jquery.seat-charts.js"></script>
    </head>

    <body>
        <div class="content">
            <h1>DEJH</h1>
            <div class="main">
                <h2>회원 가입</h2>
                <form action="./signup" method="post" style="margin: auto; text-align: center;">
                    <div id="new_form">
                        <div class="form-group row">
                            <label for="username" class="col-sm-3 col-form-label">아이디</label>
                            <div class="col-sm-9">
                                <input type="text" id="userid" style="width: 300px;" name="userid" value=""
                                    class="form-control ">

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="username" class="col-sm-3 col-form-label">비밀번호</label>
                            <div class="col-sm-9">
                                <input type="text" id="mempwd" style="width: 300px;" name="mempwd" value=""
                                    class="form-control ">

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="username" class="col-sm-3 col-form-label">이름</label>
                            <div class="col-sm-9">
                                <input type="text" id="memname" style="width: 300px;" name="memname" value=""
                                    class="form-control ">

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="username" class="col-sm-3 col-form-label">이메일</label>
                            <div class="col-sm-9">
                                <input type="text" id="memmail" style="width: 300px;" name="memmail" value=""
                                    class="form-control ">

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="username" class="col-sm-3 col-form-label">생년월일</label>
                            <div class="col-sm-9">
                                <input type="text" id="membirth" style="width: 300px;" name="membirth" value=""
                                    class="form-control ">

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="username" class="col-sm-3 col-form-label">전화번호</label>
                            <div class="col-sm-9">
                                <input type="text" id="memphone" style="width: 300px;" name="memphone" value=""
                                    class="form-control ">

                            </div>
                        </div>
                        <div class="form-group" style="text-align: right;">
                            <button href="./main/verification" id="next_bt" type="submit" class="btn btn-primary" style="height: 50px; width: 100px;">본인인증</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script src="/js/jquery.nicescroll.js"></script>
        <script src="/js/scripts.js"></script>
    </body>

    </html>